body{
  margin:0 ;
  padding: 0;
}

/* NAVIGATION BAR CSS START 
---------------------------------------------------------------------- 
*/

/* takes away margin and padding and creates background color */
ul.navbar{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: #333;

}

/* Have all list items next to each other on the left*/
ul.navbar li {
  float: left;

}

/* make changes to the individual text items in the list */
ul.navbar li a{
  display:inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change hovering with mouse color */
ul.navbar li a:hover{
  background-color: #555;

}

ul.navbar li.icon{
  display:none;
}

/* When the screen is less than 680px wide, hide all list items, except teh first one. SHow the list item that contains the link to open and close the navbar( li.icon) */

@media screen and (max-width: 680px){
  ul.navbar li:not(:first-child) {display: none;}/*google this to understand more*/
  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width: 680px){
  ul.navbar.responsive{position: relative;}
  ul.navbar.responsive li.icon{
    position: absolute;
    right:0;
    top:0;
  }
  ul.navbar.responsive li{
    float:none;
    display: inline;

  }
  ul.navbar.responsive li a {
    display:block;
    text-align: left;

  }
}
/* NAVIGATION BAR CSS END
---------------------------------------------------------------------- 
*/

/* HOME CSS BEGINS
---------------------------------------------------------------------- 
*/

.intro{
  width:100%;
  height:600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/nature_winter.jpg);
}